신도림역 >>> 어느 "구/동" 에 속하는지 <br>
좌표 >>> 주소<br>
신도림역 이름 >> 주소<br>
연계된 데이터 찾기<br>

In [27]:
import googlemaps
import pandas as pd
import numpy as np
import os

In [2]:
key = ''
gmaps = googlemaps.Client(key=key)

In [89]:
df = pd.read_csv('data/coord_train.csv', encoding='euc-kr')
df.iloc[[7]]

  전철역명   X좌표(WGS)    Y좌표(WGS)
7  신도림  37.508725  126.891295

In [128]:
len(df)

577

In [85]:
address = []
for i in range(len(df)):
    rev_geo = gmaps.reverse_geocode((df.loc[i][1], df.loc[i][2]), language='ko')[0]
    tmp = rev_geo['formatted_address']
    address.append(tmp)

In [139]:
address = address.copy()

In [140]:
address_df = pd.DataFrame(address, index=None, columns=['지번주소'])

In [142]:
train_address = pd.concat([df[['전철역명']], address_df], axis=1)

In [149]:
train_address

          전철역명                         지번주소
0         가락시장     대한민국 서울특별시 송파구 가락동 600-1
1         종로3가           대한민국 서울특별시 묘동 종로3가
2           오금            대한민국 서울특별시 오금동 오금
3          동대문       대한민국 서울특별시 종로구 창신동 472
4    동대문역사문화공원    대한민국 서울특별시 중구 을지로7가 132-2
..         ...                          ...
572         동백              대한민국 용인시 중동 동백역
573         초당               대한민국 용인시 중동 초당
574         삼가              대한민국 용인시 역삼동 삼가
575     시청·용인대  대한민국 경기도 용인시 처인구 역삼동 481-25
576        명지대            대한민국 용인시 역북동 명지대역

[577 rows x 2 columns]

In [146]:
seoul = []
etc = []
for ad in train_address:
    if '서울특별시' in ad.지번주소:
        seoul.append(ad[5:])
    else:
        etc.append(ad[5:])

AttributeError: 'str' object has no attribute '지번주소'

In [145]:
len(etc)

2

In [121]:
miss = []
okay = []
for s in seoul:
    if '동' not in s:
        miss.append(s)
    else:
        okay.append(s)

In [131]:
miss_df = pd.DataFrame(miss)

In [133]:
miss_df.to_csv('data/train_miss_address.csv', encoding='euc-kr', index=None)

In [ ]:
train_address.to_csv('data/train_address.csv', encoding='euc-kr', index=False)