## 데이터베이스 일반적 사용

In [28]:
import sqlite3
import pandas as pd
import numpy as np

In [29]:
# conn = sqlite3.connect(':memory:') # 메모리 DB 접속(일회성)
conn = sqlite3.connect('./test.db') # 파일 DB 접속(일회성)

In [30]:
cur = conn.cursor()

In [31]:
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
            (back_no INT NOT NULL, \
             name TEXT, \
             position TEXT, \
             hands TEXT, \
             highschool TEXT, \
             height INT, \
             PRIMARY KEY(back_no));')

- ** 데이터 삽입 **

In [32]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES(1, '하주석', '내야수', '우투좌타', '덕수고', 183)")

IntegrityError: UNIQUE constraint failed: Eagles.back_no

In [33]:
conn.commit()

In [34]:
players = pd.read_csv('players.csv',engine='python')

In [35]:
players = players.values

   back_no   name position   hands highschool  height
0       17  '김범수'     '투수'  '좌투좌타'    '천안북일고'     181
1       38  '안영명'     '투수'  '우투우타'    '천안북일고'     183
2       36  '장민재'     '투수'  '우투우타'    '광주제일고'     184
3       13  '최재훈'     '포수'  '우투우타'      '덕수고'     178
4       52  '김태균'    '내야수'  '우투우타'    '천안북일고'     185
5        7  '송광민'    '내야수'  '우투우타'      '공주고'     184
6       50  '이성열'    '내야수'  '우투좌타'    '순천효천고'     185
7       43  '정은원'    '내야수'  '우투좌타'      '인천고'     177
8        8  '정근우'    '외야수'  '우투우타'      '부산고'     172
9       25  '최진행'    '외야수'  '우투우타'    '덕수정보고'     188

In [91]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):    
    cur.execute(sql, players.values[i])
conn.commit()

IntegrityError: UNIQUE constraint failed: Eagles.back_no

back_no            38
name            '안영명'
position         '투수'
hands          '우투우타'
highschool    '천안북일고'
height            183
Name: 1, dtype: object