In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

In [160]:
path = r"D:\workspace-Jwp\python\DataScience\new_lec\mini_project\mini_02\disabled\data"

In [187]:
pop = pd.read_csv(os.path.join(path, 'pop_dis.csv'), encoding='euc-kr')

In [188]:
code = pd.read_csv(os.path.join(path, '서울_행정동코드.csv'), encoding='euc-kr')

In [166]:
code2 = code[['구코드', '시군구']]

In [202]:
pop2 = pop[pop.동 != '소계']

In [203]:
pop2 = pop2.drop(['구코드', '영문명'], axis=1)

In [204]:
idx = pop2[pop2.동 == '기타'].index

In [205]:
pop2 = pop2.drop(idx, axis=0)

In [218]:
pop = pop2.copy()

In [219]:
pop.head()

     날짜      시    구    동        동코드   합계
1  2018  서울특별시  종로구  사직동  1101053.0  309
2  2018  서울특별시  종로구  삼청동  1101054.0  118
3  2018  서울특별시  종로구  부암동  1101055.0  325
4  2018  서울특별시  종로구  평창동  1101056.0  542
5  2018  서울특별시  종로구  무악동  1101057.0  318

In [221]:
pop2 = pop2.drop('동코드', axis=1)

In [300]:
code2 = code.iloc[:,[1,2,3,4,5]]

In [301]:
code2.head()

     구코드 행정구역명   행정동  법정동     법정동코드
0  11230   강남구   강남구  강남구  11680000
1  11230  개포1동  개포1동  개포동  11680103
2  11230  개포2동  개포2동  개포동  11680103
3  11230  개포2동  개포2동  일원동  11680114
4  11230  개포4동  개포4동  개포동  11680103

In [319]:
pop3 = pop2.merge(code, how='left', left_on='동', right_on='행정구역명')

In [320]:
len(pop2)

426

In [321]:
pop3.columns

Index(['날짜', '시', '구', '동', '합계', '시군구', '구코드', '행정구역명', '행정동', '법정동',
       '법정동코드'],
      dtype='object')

In [336]:
cols = ['시', '구', '구코드', '동', '법정동', '법정동코드', '합계']

In [337]:
pop3 = pop3[cols]

In [339]:
pop3.head()

       시    구    구코드    동  법정동     법정동코드   합계
0  서울특별시  종로구  11010  사직동  통의동  11110106  309
1  서울특별시  종로구  11010  사직동  적선동  11110107  309
2  서울특별시  종로구  11010  사직동  체부동  11110112  309
3  서울특별시  종로구  11010  사직동  필운동  11110113  309
4  서울특별시  종로구  11010  사직동  내자동  11110114  309

In [340]:
pop3.to_csv(os.path.join(path, 'pop_final.csv'), encoding='euc-kr', index=None)

In [364]:
pop = pd.read_csv(os.path.join(path, 'pop_final.csv'), encoding='euc-kr')

In [365]:
pop.head()

       시    구    구코드    동  법정동     법정동코드   합계
0  서울특별시  종로구  11010  사직동  통의동  11110106  309
1  서울특별시  종로구  11010  사직동  적선동  11110107  309
2  서울특별시  종로구  11010  사직동  체부동  11110112  309
3  서울특별시  종로구  11010  사직동  필운동  11110113  309
4  서울특별시  종로구  11010  사직동  내자동  11110114  309

In [368]:
pop.구코드 = pop.법정동코드.astype(str)

In [370]:
pop.구코드 = pop.구코드.str[:5]

In [372]:
pop.to_csv(os.path.join(path, 'pop_final2.csv'), encoding='euc-kr', index=None)