## 건강음료 QTY 정규성 검정

#### Dependency

In [1]:
import pandas as pd
from scipy import stats

#### Load dataset

In [2]:
df= pd.read_csv('data/sales.csv', engine='python')
df = df.iloc[:,:9]
df.head()

       YM CATEGORY  ITEM_CNT   QTY  PRICE  MAXTEMP  SALEDAY  RAIN_DAY  HOLIDAY
0  200901     건강음료        37  1410   1543        4   126753       151       12
1  200902     건강음료        37  1209   1543        9   113399      3014        8
2  200903     건강음료        38  1348   1547       12   129162      1383        9
3  200904     건강음료        38  1377   1500       19   126277      3564        8
4  200905     건강음료        40  1406   1528       25   129584      9288       12

#### Filtering category

In [3]:
df2 = df[df.CATEGORY == '건강음료']
df2.head()

       YM CATEGORY  ITEM_CNT   QTY  PRICE  MAXTEMP  SALEDAY  RAIN_DAY  HOLIDAY
0  200901     건강음료        37  1410   1543        4   126753       151       12
1  200902     건강음료        37  1209   1543        9   113399      3014        8
2  200903     건강음료        38  1348   1547       12   129162      1383        9
3  200904     건강음료        38  1377   1500       19   126277      3564        8
4  200905     건강음료        40  1406   1528       25   129584      9288       12

#### Save dataset

In [7]:
df2.to_csv('data/sales_건강음료.csv', mode='w', index=False, encoding='euc-kr')

#### Dependent variable(QTY) - Normality Test

In [30]:
y = df.QTY

In [32]:
w, p = stats.shapiro(y)
print("[Weight: %.4f, P-value: %.4f" % (w, p))

[Weight: 0.8792, P-value: 0.0000