## 데이터베이스 일반적 사용

In [102]:
import sqlite3
import pandas as pd
import numpy as np

### 1. 파이썬에서 사용하는 방법

#### 1-1. 데이터베이스 접속

In [103]:
# conn = sqlite3.connect(':memory:') # 메모리 DB 접속(일회성)
conn = sqlite3.connect('./test.db') # 파일 DB 접속(일회성)

### 2. Data Definition Language(DDL)

#### 2-1. 테이블 생성

In [8]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
            (back_no INT NOT NULL, \
             name TEXT, \
             position TEXT, \
             hands TEXT, \
             highschool TEXT, \
             height INT, \
             PRIMARY KEY(back_no));')

#### 2-2. 테이블 변경

In [69]:
# cur.execute(‘ALTER TABLE Eagles ADD COLUMN birth INTEGER’)

#### 2-3. 테이블 삭제

In [70]:
# cur.execute(‘DROP TABLE Eagles’)

### 3. 데이터 조작 언어(Data Manipulation Language, DML)

#### 3-1. 데이터 삽입

- 기본 스트링 쿼리

In [ ]:
cur = conn.cursor()
cur.execute(“INSERT INTO Eagles VALUES (1, ‘하주석', ‘내야수');”)
cur.execute(“INSERT INTO Eagles VALUES (57, ‘정우람', ‘투수'), (8, ‘정근우’, ‘내야수);”)

- 파라메터: 튜플 사용

In [ ]:
back_no = 50
name = ‘이성열’
position = ‘외야수’
cur = conn.cursor()
sql = ‘INSERT INTO Eagles VALUES (?, ?, ?);’
cur.execute(sql, (back_no, name, position))

- 튜플 리스트 사용

In [ ]:
players = ((22, ‘이태양’, ‘투수’), (13, ‘최재훈’, ‘포수’))
cur = conn.cursor()
sql = ‘INSERT INTO Eagles VALUES (?, ?, ?);’
cur.executemany(sql, players)

- INSERT INTO Table (field1, f2, ... , fn) VALUES (value1, v2, ... , vn)

In [9]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles('back_no', 'name', 'position') \
            VALUES(30, '호잉', '외야수');")
conn.commit() # 변경사항 저장

In [10]:
cur.execute("INSERT INTO Eagles VALUES \
            (1, '하주석', '내야수', '우투좌타', '신일고', 183), \
            (28, '양성우', '외야수', '우투좌타', '충암고', 177);")
conn.commit()

#### 3-2. 데이터 파일로부터 읽어와서 삽입

In [18]:
players = pd.read_csv('players.csv', engine='python')
players

   back_no name position hands highschool  height
0       17  김범수       투수  좌투좌타      천안북일고     181
1       38  안영명       투수  우투우타      천안북일고     183
2       36  장민재       투수  우투우타      광주제일고     184
3       13  최재훈       포수  우투우타        덕수고     178
4       52  김태균      내야수  우투우타      천안북일고     185
5        7  송광민      내야수  우투우타        공주고     184
6       50  이성열      내야수  우투좌타      순천효천고     185
7       43  정은원      내야수  우투좌타        인천고     177
8        8  정근우      외야수  우투우타        부산고     172
9       25  최진행      외야수  우투우타      덕수정보고     188

- 모든 필드에 데이터를 삽입할 경우 필드명 생략 가능
- 튜플의 리스트 형태로 한꺼번에 여러 데이터를 입력 할 수 있음

In [19]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'
for i in range(10):    
    cur.execute(sql, players.values[i])
conn.commit()

#### 3-3. 데이터 조회

- 순회 조회

In [20]:
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
for row in cur:
    print(row)

(30, '호잉', '외야수', None, None, None)
(1, '하주석', '내야수', '우투좌타', '신일고', 183)
(28, '양성우', '외야수', '우투좌타', '충암고', 177)
(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

- 단건 조회

In [31]:
cur = conn.cursor()
cur.execute('SELECT * FROM Eagles')
row = cur.fetchone()
row

(30, '호잉', '외야수', None, None, None)

- 다건 조회

In [32]:
rows = cur.fetchmany(2)
rows

[(1, '하주석', '내야수', '우투좌타', '신일고', 183), (28, '양성우', '외야수', '우투좌타', '충암고', 177)]

- 모두 조회

In [33]:
rows = cur.fetchall()
for row in rows:
    print(row)

(17, '김범수', '투수', '좌투좌타', '천안북일고', 181)
(38, '안영명', '투수', '우투우타', '천안북일고', 183)
(36, '장민재', '투수', '우투우타', '광주제일고', 184)
(13, '최재훈', '포수', '우투우타', '덕수고', 178)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)
(8, '정근우', '외야수', '우투우타', '부산고', 172)
(25, '최진행', '외야수', '우투우타', '덕수정보고', 188)

- 필요한 column만 조회

In [35]:
cur = conn.cursor()
cur.execute("SELECT name FROM Eagles WHERE back_no > 10")
rows = cur.fetchall();
for row in rows:
    print(row)

('최재훈',)
('김범수',)
('최진행',)
('양성우',)
('호잉',)
('장민재',)
('안영명',)
('정은원',)
('이성열',)
('김태균',)

- 원하는 순서 및 갯수

In [62]:
cur.execute('SELECT * FROM Eagles ORDER BY name')
row = cur.fetchone()
print(row[1]) # ‘하주석’
cur.execute('SELECT * FROM Eagles ORDER BY name DESC')
row = cur.fetchone()
print(row[1]) # ‘하주석’
cur.execute('SELECT * FROM Eagles ORDER BY name DESC LIMIT 1')
row = cur.fetchone()
print(row[1]) # ‘하주석’

김범수
호잉
호잉

- 집계 함수

In [68]:
cur.execute('SELECT count(*) FROM Eagles') # max(column), min(column), sum(column), avg(column)
count = cur.fetchone()
count

(13,)

#### 3-4. 데이터 검색

- 기본 스트링 쿼리

In [72]:
cur = conn.cursor()
cur.execute("SELECT * FROM Eagles WHERE position='내야수';")
rows = cur.fetchall();
for row in rows:
    print(row)

(1, '하주석', '내야수', '우투좌타', '신일고', 183)
(52, '김태균', '내야수', '우투우타', '천안북일고', 185)
(7, '송광민', '내야수', '우투우타', '공주고', 184)
(50, '이성열', '내야수', '우투좌타', '순천효천고', 185)
(43, '정은원', '내야수', '우투좌타', '인천고', 177)

- Placeholder

In [95]:
cur = conn.cursor()
back_no = 50
cur.execute('SELECT * FROM Eagles WHERE back_no=?;', (back_no,))
player = cur.fetchone()
player[0] # 50

50

- Grouping

In [79]:
cur = conn.cursor()
sql = "SELECT position, count(*) FROM Eagles GROUP BY position"
cur.execute(sql)
group = cur.fetchall()
group

[('내야수', 5), ('외야수', 4), ('투수', 3), ('포수', 1)]

#### 3-5. 데이터 변경
- UPDATE table SET field1 = value1, ... WHERE 조건

In [98]:
position = "외야수"
back_no = 8
cur.execute("UPDATE Eagles SET position=? WHERE back_no=?;", (position, back_no))
conn.commit()

In [99]:
cur.execute("SELECT * FROM Eagles WHERE back_no=?", (back_no,))
cur.fetchall()

[(8, '정근우', '외야수', '우투우타', '부산고', 172)]

In [89]:
data = ((1995, 1), (1986, 57))
sql = "UPDATE Eagles SET position=? WHERE back_no=?"
cur.executemany(sql, data)
cur.fetchall()

[]

#### 3-6. 데이터 삭제

In [100]:
cur = conn.cursor()
cur.execute("DELETE FROM Eagles WHERE back_no=1;")
conn.commit()

## Table Join을 위한 준비

In [104]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Stats \
            (id INT NOT NULL, \
             player TEXT, \
             average REAL, \
             rbi INT, \
             homerun INT, \
             PRIMARY KEY(id));')

In [106]:
stats = pd.read_csv('stats.csv', encoding='EUC_KR')
stats

  player  average  rbi  homerun
0     호잉    0.288   58       15
1    양성우    0.176    6        1
2    최재훈    0.300   23        2
3    김태균    0.308   43        5
4    송광민    0.257   39        6
5    이성열    0.255   62       18
6    정은원    0.281   47        5
7    정근우    0.219   10        2
8    최진행    0.184   14        3

In [ ]:
cur = conn.cursor()
sql = "INSERT INTO Stats VALUES (?, ?, ?, ?, ?);"
for i in range(1, 10):
    cur.execute(sql, (i, *stats.values[i-1]))
conn.commit()

In [118]:
cur = conn.cursor()
cur.execute('SELECT * FROM Stats')
cur.fetchall()

[(1, '호잉', 0.28800000000000003, 58, 15),
 (2, '양성우', 0.17600000000000002, 6, 1),
 (3, '최재훈', 0.3, 23, 2),
 (4, '김태균', 0.308, 43, 5),
 (5, '송광민', 0.257, 39, 6),
 (6, '이성열', 0.255, 62, 18),
 (7, '정은원', 0.281, 47, 5),
 (8, '정근우', 0.21899999999999997, 10, 2),
 (9, '최진행', 0.184, 14, 3)]

In [125]:
sql = "SELECT e.back_no, e.name, e.position, \
              s.average, s.rbi, s.homerun \
              FROM Eagles AS e JOIN Stats AS s \
              ON e.name LIKE s.player;"
cur = conn.cursor()
cur.execute(sql)
join = cur.fetchall()
join

[(30, '호잉', '외야수', 0.28800000000000003, 58, 15),
 (28, '양성우', '외야수', 0.17600000000000002, 6, 1),
 (13, '최재훈', '포수', 0.3, 23, 2),
 (52, '김태균', '내야수', 0.308, 43, 5),
 (7, '송광민', '내야수', 0.257, 39, 6),
 (50, '이성열', '내야수', 0.255, 62, 18),
 (43, '정은원', '내야수', 0.281, 47, 5),
 (8, '정근우', '외야수', 0.21899999999999997, 10, 2),
 (25, '최진행', '외야수', 0.184, 14, 3)]

In [132]:
column_name = ['등번호', '선수명', '포지션', '타율', '타점', '홈런']
eagles_df = pd.DataFrame(join,
                  columns = column_name)
eagles_df

   등번호  선수명  포지션     타율  타점  홈런
0   30   호잉  외야수  0.288  58  15
1   28  양성우  외야수  0.176   6   1
2   13  최재훈   포수  0.300  23   2
3   52  김태균  내야수  0.308  43   5
4    7  송광민  내야수  0.257  39   6
5   50  이성열  내야수  0.255  62  18
6   43  정은원  내야수  0.281  47   5
7    8  정근우  외야수  0.219  10   2
8   25  최진행  외야수  0.184  14   3

In [133]:
conn.close()