In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd()

'D:\\workspace-Jwp\\python\\DataScience\\new_lec\\mini_project\\mini_02'

In [5]:
files = os.listdir('data/tmoney_data')

In [7]:
path = 'data/tmoney_data'
os.path.join(path, files[0])

'data/tmoney_data\\2018년 08월  교통카드 통계자료.xls'

In [19]:
files[0]

'2018년 08월  교통카드 통계자료.xls'

In [21]:
temp = pd.read_excel(os.path.join(path, files[0]), sheet_name='지하철 노선별 역별 이용현황', encoding='euc-kr')
temp.head()

       사용월  호선명  역ID  지하철역      승차승객수      하차승객수                 작업일시
0  2018-08  1호선  150   서울역  1,690,527  1,582,359  2018-09-03 12:59:56
1  2018-08  1호선  151    시청    718,771    710,880  2018-09-03 12:59:56
2  2018-08  1호선  152    종각  1,317,026  1,273,705  2018-09-03 12:59:56
3  2018-08  1호선  153  종로3가    979,229    926,335  2018-09-03 12:59:56
4  2018-08  1호선  154  종로5가    715,574    715,826  2018-09-03 12:59:56

In [9]:
dfs = [] 
for f in files:
    dfs.append(pd.read_excel(os.path.join(path, f), sheet_name='지하철 노선별 역별 이용현황', encoding='euc-kr'))

In [17]:
for df in dfs:
    print(len(df))

591
590
590
590
599
598
598
598
600
597
596
597

In [15]:
len(dfs[0])

591